// color
$primary: #2bb5c2;
$secondary: #376496;
$success: #3284f0;
$warning: #fdae52;
$danger: #fb4c72;
$info: #00cfe8;
$text: #203b54;
$high-priority: #e85a74;
$middle-priority: #f2b163;
$low-priority: #b9b8b8;
$white: #ffffff;
$gray: #b8b9b9;
$green: #499f80;
$blue: #4982e9;
$blue2: #5ab3bf;

$success-green: #02a27f;
$background: #f6f6f4;
$header: #edede9;
$border: #e3e3dd;
$text-muted: #b8b8b8;
